fastapi
uvicorn[standard]
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pymupdf
pytesseract
Pillow
groq
pydantic-settings
python-dotenv
pydantic[email]
email-validator